@model CrudAhorroPrestamos.Models.CuotaP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CuotaP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEfectivaCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEfectivaCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prestamos.CodigoPrestamo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prestamos.CodigoPrestamo)
        </dd>

    </dl>
</div>
   


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_cuota }) |
    @Html.ActionLink("Back to List", "Index")
</p>
