@model CrudAhorroPrestamos.Models.CuentaBancaria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CuentaBancaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cuenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
